body {
  font-family: Impact;
}

.header {
  background-color: #40e0d0;
  color: white;
  height: 100px;
}
.header-logo {
  font-family: cursive;
  float: left;
  font-size: 100px;
  padding: 30px 40px;
}

.header-list {
  float: right;
  font-size: 30px;
  padding-left: 30px;
}

.movie{
  display: block;
}

.detail{
  display: block;
  padding: 10px 20px;
  margin: 30px 40px;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}
